@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @theme {
    --color-vaporwavePink: oklch(0.7474 0.2 342.96);
    --color-vaporwavePurple: oklch(0.7875 0.1468 223.22);
    --color-vaporwaveYellow: oklch(0.8808 0.2064 157.77);

    --color-background-light: oklch(0.95 0.02 0);
    --color-background-dark: oklch(0.10 0.02 0);
    --color-header-light: oklch(0.95 0.02 0);
    --color-header-dark: oklch(0.10 0.02 0);
    --color-text-light: oklch(0.10 0.02 0);
    --color-text-dark: oklch(0.90 0.02 0);
    --color-border-light: oklch(0.90 0.02 0);
    --color-border-dark: oklch(0.20 0.02 0);
  }
}

@layer utilities {
  .vaporwave-background {
      background: linear-gradient(to bottom, #2b0a3d, #7f167f, #0f4c75);
  }

  .dark .vaporwave-background {
      background: linear-gradient(to bottom, #15002b, #300030, #0a1a40, #00303d);
  }
}